<h3><a class="btn btn-secondary" href="/quiz"><i class="fa"></i> Create New</a> Quiz List</h3>
<table class="table table-dark">
    <thead>
        <tr>
            <th>Question</th>
            <th>Option01</th>
            <th>Option02</th>
            <th>Option03</th>
            <th>Option04</th>
            <th>Answer</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.question}}</td>
            <td>{{this.option01}}</td>
            <td>{{this.option02}}</td>
             <td>{{this.option03}}</td>
              <td>{{this.option04}}</td>
            <td>{{this.answer}}</td>
            <td>
                <a href="/quiz/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/quiz/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>